@font-face {
  font-family: "SfProDisplay";
  src: url("../fonts/sf-pro-display-regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SfProDisplay";
  src: url("../fonts/sf-pro-display-medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "SfProDisplay";
  src: url("../fonts/sf-pro-display-semibold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "SfProDisplay";
  src: url("../fonts/sf-pro-display-bold.otf") format("opentype");
  font-weight: 700;
}
